<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>
  <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
    <resetJUL>true</resetJUL>
  </contextListener>

  <logger name="org.springframework.web.filter.CommonsRequestLoggingFilter" level="DEBUG"/>

  <logger name="me.devtools4.cloud.disk.controller.DiskApiController" level="TRACE"/>

  <root level="INFO">
    <appender-ref ref="CONSOLE"/>
  </root>

</configuration>